#comments {
    padding: 10px 0 0px 0;
    margin-bottom: 30px;
}

#comments ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#comments ul li {
    padding: 25px 0 0 0;
    list-style: none;
}

#comments .replied-to {
    margin-left: 35px;
}

@media (max-width: 767px) {
    #comments .replied-to {
        margin-left: 20px;
    }
}

.avatar {
    float: left;
    margin-right: 25px;
    width: 68px;
    height: 68px;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    position: relative;
}

.avatar img {
    width: 68px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.comment_right {
    display: table;
    border: 2px solid #ededed;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding: 20px 20px 0 20px;
    position: relative;
}

.comment_info {
    padding-bottom: 7px;
}

.comment_info span {
    padding: 0 10px;
}
